@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary:#FF4A45;
  --primary-opacity:#F46355;
  --primary-dark:#ED4440;
  --blue:#21204F;
  --highlight:#FE9728;
}

body{
  background: white;
  padding:15px;
  font-size:14px;
}

.page-container{
  background: var(--primary);
  height:calc(100vh - 30px);
  width:100%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.custom-button{
  
  border-radius: 10px;
  padding:15px 40px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: white solid 3px;
  letter-spacing: 4px;
  
  transition: all 100ms ease-in-out;
  top:0;
  position:relative;
}

.yellow-button{
  background:var(--highlight);
  box-shadow: 0 0.5em var(--highlight);
}
.yellow-button:hover{
  box-shadow: 0 0.2em var(--highlight);
  top:3px;
}

.image-border{
  border:white solid 5px;
  border-radius: 10px;
  box-shadow: 0 0.8em var(--primary-dark);
}